@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&family=Space+Grotesk:wght@500&display=swap');

* {
  margin: 0;
  color: white;
}

body {
  background-color: #191b23;
}

.MainContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}


.LoginContainer {
  width: 500px;
  height: 500px;
  background-color: #252835;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-shadow: #252835  0px 3px 8px;
}
p{
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 25px;
  padding: 5px;
}
input {
  width: 300px;
  height: 50px;
  background-color: #373b4d;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid #96a2d1;
}

a {
  margin-left: 0%;
  color: rgb(155, 171, 243);
}

h1{
  font-size: 15px;
  margin-top: 40px;
}

.LoginButton {
  width: 250px;
  height: 45px;
  background-color: #5567b0;
  border: none;
  font-size: 35px;
  margin-left: 0%;
  margin-top: 50px;
  transition: 0.4s;
}

.LoginButton:hover {
  width: 250px;
  height: 45px;
  background-color: #63babd;
  border: none;
  font-size: 35px;
  margin-left: 0%;
  margin-top: 50px;
  transition: 0.4s;
}

.RegisterButton {
  width: 250px;
  height: 45px;
  background-color: #5567b0;
  border: none;
  font-size: 35px;
  margin-left: 0%;
  margin-top: 50px;
  transition: 0.4s;
}

.RegisterButton:hover {
  width: 250px;
  height: 45px;
  background-color: #63babd;
  border: none;
  font-size: 35px;
  margin-left: 0%;
  margin-top: 50px;
  transition: 0.4s;
}


.ChatContainer {
  width: 100%;
  height: 100%;
  background-color: #252835;
}

.NavabarContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 5%;
  background-color: #2f3242;
}

.LogoutButton {
  align-self: end;
  margin-right: 0%;
  width: 100px;
  height: 100%;
  background-color: #5567b0;
  transition: 0.4s;
  border: none;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.LogoutButton:hover {
  margin-right: 0%;
  width: 100px;
  height: 100%;
  background-color: #63babd;
  border: none;
  transition: 0.4s;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.Logo {
  font-size: 35px;
  margin-left: 2%;
  width: 400px;
}

h3 {
  width: 300px;
  margin-top: -1%;
}

.ButtonFormatter {
  width: 100%;
  display: flex;
  flex-direction: column;
}

